  <div class="orderlist">
    <div>
      <h3 class="date">{{date | date: 'short'}}</h3>
    </div>

    <div>
      <label class="label-name">Nombre del cliente:</label>
      <input 
        type="text" 
        placeholder="Ingresar Nombre" 
        class="clientName" #clientName 
        (change)="nameInput(clientName.value)"
        required/>
    </div>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Extras</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col"></th>
        </tr>
    </thead>
      <tbody *ngFor = "let order of orderedFood">
        <tr>
          <td>{{ order.nombre }}</td>
          <td >
            <label for="">Queso</label>
            <input class="extra-checkbox" type="checkbox" [ngModel]="order.extras.includes('queso')"  #queso (change) = "checkedExtra(queso.checked, 'queso', order)">
            <label for="">Huevo</label>
            <input class="extra-checkbox" type="checkbox" [ngModel]="order.extras.includes('huevo')" #huevo (change) = "checkedExtra(huevo.checked, 'huevo', order)">
          </td>
          <td>
            <input 
              type="text" 
              class="amount-per-food" 
              [ngModel] = "order.cantidad" 
              #cantidad 
              (change) = "amountOfFood(order, cantidad.value)" 
              required>
          </td>
          <td>${{ order.precio }}</td>
          <td (click)="deleteButton(order.nombre)"><i class="fa fa-trash delete-btn"></i></td>
        </tr>
      </tbody>
    </table>

    <div class="total-amount">
      <h1>Total: $ {{ total }}.00</h1>
    </div>
    <button type="button" class="btn btn-success" (click) = "sendOrderFB(date, total)">Enviar</button>
  </div>