.orderlist{
    margin: 15px 20px;
    float: right;
    width:50%;
}

.label-name{
    font-size: 30px;
}

.clientName{
    width:250px;
    margin-left:20px;
}

table{
    width:100%;
    margin-top: 40px;
    font-size: 15px;
    text-align:center;
    border: 1px solid black;
}
th, td{
    text-align: center;
}

.extra-checkbox{
    width: 80px;
}

.amount-per-food{
    width: 50px;
}

.delete-btn{
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.send-btn{
    float:right;
    padding: 10px 20px;
    border-radius: 4px;
    border:none;
}

.send-btn:hover{
    background-color:green;
}